{include file="header.htm"}
<script type="text/javascript" src="{$smarty.const.BASE_URL}js/date.js"></script>
<script type="text/javascript" src="{$smarty.const.BASE_URL}js/jquery.datepicker.js"></script>
{literal}
<script type="text/javascript">
function check_email(value) {
	reg = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
	return value.match(reg);
}

function padleft(num){
	if (num<10) {
		num='0'+num.toString();
	}
	return num;
}

function get_current_date() {
	var d = new Date();
	var ret='';
	ret+=d.getFullYear()+'-';
	ret+=padleft(d.getMonth()+1)+'-';
	ret+=padleft(d.getDate());
	return ret;
}


$(document).ready(function() {
	$('#tedit_submit').click(
		function() {
		}	
	);
	
	$('#ut_webmasters').click(
		function() {
			$('#member_statuses').hide();
		}
	);
	
	$('#ut_members').click(
		function() {
			$('#member_statuses').show();
		}
	);
	$('#periods').change(
		function () {
			$('#period').val($('#periods option:selected').val());
		}
	);
	
	//setup datepickers
	Date.firstDayOfWeek = 0;
	Date.format = 'yyyy-mm-dd';

	$('.date-pick').datePicker({clickInput:true});
});
</script>
{/literal}
<h1>Edit/add mailing task</h1>
<br />
<form id="tedit_form" method="post" autocomplete="off">
{if $errors}
<div class="error" id="errors" style="margin-bottom:10px;">
{foreach from=$errors item=val}
&middot;{$val}<br />
{/foreach}
</div>
{/if}
<input type="hidden" name="id" value="{$data.id}" />
<input type="hidden" name="settings_nats_db_id" value="{$data.settings_nats_db_id}" />
<h2>1. Task name</h2>
<input type="text" name="name" value="{$data.name}" style="width:100px;" />
<h2>2. How to send mails</h2>
<input type="radio" class="margined" name="type" {if ($data.type=='once')}checked="checked"{/if} value="once" id="type_once"><label for="type_once">once</label> <br />
<input type="radio" class="margined" name="type" {if ($data.type=='periodicaly')}checked="checked"{/if} value="periodicaly" id="type_periodicaly"><label for="type_periodicaly">periodicaly</label>
with period (in days): <input type="text" name="period" id="period" value="{if !empty($data.period)}{$data.period}{/if}" style="width:50px" /> or choose period from list
<select id="periods">
<option value="">-select-</option>
<option value="1">every day</option>
<option value="7">every week</option>
<option value="30">every month</option>
</select>

<h2>3. For which users</h2>
{if !$USERS_SET}
<div style="margin-top:10px;">
<input type="radio" name="params[user_types]" {if $data.params.user_types=='webmasters'}checked="checked"{/if} value="webmasters" id="ut_webmasters" class="margined" /><label for="ut_webmasters"  style="position:absolute">Webmasters</label>
</div>
<br clear="all" />
<div style="float:left; width:90px;">
<input type="radio" name="params[user_types]" {if $data.params.user_types=='members'}checked="checked"{/if} value="members" id="ut_members" class="margined" /><label for="ut_members" style="position:absolute">Members</label>
</div>
<div id="member_statuses" style="float:left; width:480px;{if $data.params.user_types!='members'}display:none{/if}">
	<div style="float:left; width:70px;">with status:</div>
		<div class="et_statuses" style="float:left; width:400px;">
			{foreach from=$STATUSES key=key item=val}
			<input class="margined" type="checkbox" name="params[member_statuses][]" value="{$key}" id="st_{$key}" {if !empty($data.params.member_statuses) && in_array($key, $data.params.member_statuses)}checked="checked"{/if} /><label for="st_{$key}">{$val}</label><br />
			{/foreach}
		</div>
	</div>
</div>
{else}
<input type="hidden" name="params[uids_type]" value="{$USERS_SET_TYPE}" />
<div style="width:400px; height: 100px; overflow-y:scroll">
<table style="font-size:9pt" id="uids">
{foreach from=$USERS_SET.data item=val}
<tr>
<td><input type="checkbox" name="params[uids][]" checked="checked" value="{$val.memberid|default:$val.loginid}" /></td>
<td>{$val.username}{if $val.email} ({$val.email}){/if}</td>
</tr>
{/foreach}
</table>
</div>
{/if}
<br clear="all" />
<h2>4. Mail template to use</h2>
<select name="template_id">
<option value="">- select -</option>
{foreach from=$TEMPLATES item=val}
<option value="{$val.id}" {if $val.id==$data.template_id}selected="selected"{/if}>{$val.name}</option>
{/foreach}
</select>

<br clear="all" />
<h2>5. When to start</h2>
Choose date: <input type="text" name="when_to_start" id="when_to_start" value="{$data.when_to_start|format_date}" class="date-pick wts_date" /> <a href="javascript:void(0)" onclick="$('#when_to_start').val(get_current_date())">today</a><br />
<input class="margined" type="checkbox" name="is_disabled" {if $data.is_disabled}checked="checked"{/if} id="is_disabled" value="1" /><label for="is_disabled">do not run this task</label>
<br clear="all" />
<input type="submit" id="tedit_submit" value="Save" />
</form>
{include file="footer.htm"}
